
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), hsl(251, 87%, 55%));
}

.calc-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);

    
}

.calc-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid white;
    outline: none;
    background-color: rgb(231, 192, 212);

}

.calc-container > button:hover {
    background-color: whitesmoke;
}

.span-two {
   grid-column: span 2; 
}

.output {
   grid-column: 1 / -1; 
   background-color: rgba(0, 0, 0, .75);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
   padding: 10px;
   word-wrap: break-word;
   word-break: break-all;
 
}

.output .previous-out {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-out {
    color: white;
    font-size: 1.5rem; 
}

.rights {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    
}

/* * {
    border: 2px solid red;
    margin-top: 0;
} */